<nav class="navbar navbar-light bg-light">
    <div class="main-div">
        <!-- <div>
            Angular Routing
        </div> -->
        <div>
            <ul class="ul-div">
                <li><a routerLink="std-reg"> Home</a></li>
                <li><a routerLink="contact-us"> Contact-us</a></li>
                <li><a routerLink="std-list"> student-list</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- <app-student-registeration></app-student-registeration> -->
<router-outlet></router-outlet>